@use '/src/scss/variable.scss' as var;

.adm-nav-bar {
    height: 55rem;

    .adm-nav-bar-title {
        color: var.$primary;
        font-weight: 600;
    }

    .title-home {
        height: 40rem;
        width: 110rem;
        margin: 0 auto;
        background-size: 100% 100%;
    }
}