.sidebar {
    text-align: center;
    font-size: 15rem;
    font-weight: 500;

    .sidebar-container {
        height: 80%;

        &-user {
            margin-top: 24rem;
        }
    }

    &-item,
    &-container-deregister {
        cursor: pointer;
        padding: 12rem;
        margin: 12rem 0;

        &.focus-it:hover,
        &.focus-it.is-active {
            background: #e4e4e4;
        }
    }
}