@use './variable.scss'as var;

/**
* 通用样式封装
*/
.full-100 {
    width: 100%;
    height: 100%;
}

:root:root {
    --adm-avatar-border-radius: 50%;
}

.text-align-left {
    text-align: left;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.pl-12 {
    padding-left: 12rem;
}

// 文字超出隐藏
.text-space-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

// 主容器样式
.full-container {
    width: 100%;
    height: calc(100% - var.$nav-height);
    overflow-x: hidden;
    overflow-y: auto;
}

// 全局按钮样式
.antdog-btn {
    background-color: var.$primary;
    font-weight: 700;
    border-radius: 8rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    color: #fff;

    &:not(:disabled):hover {
        background-color: #0bcfd6c7 !important;
    }

    &.disabled {
        color: #fff;
        background-color: #a0a0a0;
    }

    &.processing {
        color: #fff;
        background-color: #1f6dfd;
    }

    &:not(:last-child) {
        margin-right: 8px;
    }

    &.full {
        width: 80%;
    }
}