@use './variable.scss' as var;

/**
* 通用样式封装
*/
.text-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

:root:root {
    --adm-avatar-border-radius: 50%;
}

.text-align-left {
    text-align: left;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.p-0 {
    padding: 0;
}

.px-8 {
    padding: 0 32rem;
}

.px-2-y-1 {
    padding: 4rem 8rem;
}

.pl-3 {
    padding-left: 12rem;
}

.pr-3 {
    padding-right: 12rem;
}

.pl-1 {
    padding-left: 4rem;
}

.pl-2 {
    padding-left: 8rem;
}

.pr-2 {
    padding-right: 8rem;
}

.pl-5 {
    padding-left: 20rem;
}

.pr-5 {
    padding-right: 20rem;
}

.pl-4 {
    padding-left: 16rem;
}

.pr-4 {
    padding-right: 16rem;
}

.mr-5 {
    margin-right: 20rem;
}

.mr-1 {
    margin-right: 4rem;
}

.mb-1 {
    margin-bottom: 4rem;
}

.mb-2 {
    margin-bottom: 8rem;
}

.mb-3 {
    margin-bottom: 12rem;
}

.mb-4 {
    margin-bottom: 16rem;
}

.mt-1 {
    margin-top: 4rem;
}

.required {
    color: red;
}

// 文字超出隐藏
.text-space-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.full-100 {
    width: 100%;
    height: 100%;
}
// 主容器样式
.full-container {
    width: 100%;
    height: calc(100% - var.$nav-height);
    overflow-x: hidden;
    overflow-y: auto;
}

// 全局按钮样式
.antdog-btn {
    background-color: var.$primary;
    font-weight: 700;
    border-radius: 8rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    color: #fff;

    &:not(:disabled):hover {
        background-color: #0bcfd6c7 !important;
    }

    &.disabled {
        color: #fff;
        background-color: #a0a0a0;
    }

    &.processing {
        color: #fff;
        background-color: #1f6dfd;
    }

    &:not(:last-child) {
        margin-right: 8px;
    }

    &.full {
        width: 94%;
        border: 0;
        margin: 0 auto;
    }
}

// 全局 input 样式
input,
.adm-input-element {
    font-size: 12px;
}